{% extends 'base.html' %}


{% block body %}
    <div style="margin: 20px; box-shadow: 0 0 10px rgba(0,0,0,0.5); margin-left: auto;
    margin-right: auto; width: 50%; display: flex;
    flex-direction: column;">
        <form name="Pay" style="display: flex; flex-direction: column;" method="post" accept-charset="UTF-8">
            <h1 style="width: 100%; text-align: center;">Payment</h1>
            <div style="margin: 5px 10px; display: inline-flex; border-bottom: outset;">
                <p style="width: 50%; text-align: center;">Enter amount</p>
                <input type="text" name="amount"  style="width: 50%; margin: 2px;" value="10.00"/>
            </div>
            <div style="margin: 5px 10px; display: inline-flex; border-bottom: outset;">
                <p style="width: 50%; text-align: center;">Choose currency</p>
                <select style="width: 50%; margin: 2px;" name="currency">
                    <option value="978">EUR</option>
                    <option value="840">USD</option>
                    <option value="643">RUB</option>
                </select>
            </div>
            <div style="margin: 5px 10px;">
                <p style="width: 100%; text-align: center;">Enter description</p>
                <textarea style="width: 100%; height: 100px;" type="text" name="description">Test invoice</textarea>
            </div>
            <input class="btn btn-primary" style="margin: 10px" type="submit"/>
        </form>
    </div>
{% endblock %}
